.container{
    width: 35%;
    height: 60%;
    border-radius: 12px;
    background: linear-gradient(90deg, rgba(212,109,255,1) 0%, rgba(0,255,218,1) 100%);
}

.top-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

.top-bar input{
    background: #ebfffc;
    border: none;
    outline: none;
    width: 70%;
    height: 8vh;
    border-radius: 40px;
    color: #626262;
    padding-left: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vh;
    /* aspect-ratio: 1/1; */
    height: 8vh;
    background: #ebfffc;
    border-radius: 50%;
    cursor: pointer;
}

.weather-image{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    
}

.weather-temp{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    font-weight: 600;
}

.weather-location{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
}

.data-container{
    margin-top: 50px;
    color: white;
    display: flex;
    /* flex-direction: column;  */
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
}

.element{
    display: flex;
    align-items: center;
    gap: 12px;
}

.data{
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

.text{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.icon{
    margin-top: 10px;
}
/* Example media query for small screens */
@media (max-width: 768px) {
    .container {
        width: 90%; /* Adjust the container width for smaller screens */
    }
    /* Add similar adjustments for other elements as needed */
}
img {
    max-width: 100%;
    height: auto;
}
/* Example media query for smaller fonts on smaller screens */
@media (max-width: 768px) {
    .weather-temp {
        font-size: 3rem;
    }
    /* Add similar adjustments for other font sizes as needed */
}
